
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/2.1%20FinanceDataReader%EB%A5%BC%20%ED%86%B5%ED%95%9C%20%EC%83%81%EC%9E%A5%EC%A2%85%EB%AA%A9%20%EC%A0%84%EC%B2%B4%20%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0-output.ipynb)



## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceData/FinanceDataReader: Financial data reader](https://github.com/FinanceData/FinanceDataReader)
* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 설치

In [1]:
# 주석을 풀고 설치해 주세요. 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
# !pip install -U finance-datareader

## 라이브러리 불러오기

In [2]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [3]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr
fdr.__version__

'0.9.66'

## 한국거래소 상장종목 전체 가져오기

In [4]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.
# 주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift + tab 키를 누르면 도움말을 볼 수 있습니다.

# fdr.StockListing??

In [5]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목
df_krx = fdr.StockListing("KRX")

In [6]:
# 가끔 한국거래소에 서버점검 등의 이슈가 있어 fdr.StockListing 으로 상장종목을 받아오지 못할 때가 있습니다.
# 그럴 때는 아래의 주석을 해제하고 실습해 주세요!
# df_krx = pd.read_csv("https://raw.githubusercontent.com/corazzon/finance-data-analysis/main/krx.csv")

In [7]:
# 한국거래소 상장종목 전체 가져오기
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,73300,1,200,0.27,73800,74000,73200,15419815,1134484297093,437585060915000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,140000,1,3300,2.41,137000,140000,137000,5011719,698129501600,101920331100000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,422000,2,-500,-0.12,426500,431000,422000,341008,144990527500,98748000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,703000,1,5000,0.72,702000,705000,700000,59749,41991591000,50035322000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,59300,2,-600,-1.00,59900,60100,59300,1609498,95959015300,48797181310000,822886700,STK

In [8]:
# 행과 열의 크기를 봅니다.(행, 열) 순
df_krx.shape

(2786, 17)

In [9]:
# 전체 데이터프레임의 요약정보를 봅니다.
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2786 entries, 0 to 2785
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         2786 non-null   object
 1   ISU_CD       2786 non-null   object
 2   Name         2786 non-null   object
 3   Market       2786 non-null   object
 4   Dept         2786 non-null   object
 5   Close        2786 non-null   object
 6   ChangeCode   2786 non-null   object
 7   Changes      2786 non-null   int64
 8   ChagesRatio  2786 non-null   float64
 9   Open         2786 non-null   int64
 10  High         2786 non-null   int64
 11  Low          2786 non-null   int64
 12  Volume       2786 non-null   int64
 13  Amount       2786 non-null   int64
 14  Marcap       2786 non-null   int64
 15  Stocks       2786 non-null   int64
 16  MarketId     2786 non-null   object
dtypes: float64(1), int64(8), object(8)
memory usage: 370.1+ KB

In [10]:
# 기술통계 값을 요약합니다.

df_krx.describe()

,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks
count,2786.000000,2786.000000,2786.000000,2786.000000,2786.000000,2.786000e+03,2.786000e+03,2.786000e+03,2.786000e+03
mean,60.622398,0.208270,19571.983489,19946.559943,19242.281048,5.556880e+05,8.062231e+09,8.879866e+11,4.162263e+07
std,1462.384273,3.336819,48481.113975,49445.675424,47921.623374,2.720631e+06,5.170156e+10,9.159936e+12,1.326499e+08
min,-13400.000000,-25.060000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,9.817717e+08,2.000000e+05
25%,-50.000000,-0.790000,2450.000000,2500.000000,2401.250000,1.912750e+04,9.931236e+07,5.533933e+10,1.014977e+07
50%,0.000000,0.000000,6090.000000,6225.000000,6000.000000,8.098750e+04,4.562305e+08,1.117075e+11,1.966842e+07
75%,55.750000,1.020000,15582.500000,15777.500000,15207.500000,2.679105e+05,2.407233e+09,2.808129e+11,4.150249e+07
max,34000.000000,30.000000,702000.000000,705000.000000,700000.000000,8.981218e+07,1.675628e+12,4.375851e+14,5.969783e+09

## 파일로 저장하고 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [11]:
# head 로 미리보기
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,73300,1,200,0.27,73800,74000,73200,15419815,1134484297093,437585060915000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,140000,1,3300,2.41,137000,140000,137000,5011719,698129501600,101920331100000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,422000,2,-500,-0.12,426500,431000,422000,341008,144990527500,98748000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,703000,1,5000,0.72,702000,705000,700000,59749,41991591000,50035322000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,59300,2,-600,-1.00,59900,60100,59300,1609498,95959015300,48797181310000,822886700,STK

In [12]:
# to_csv로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.
df_krx.to_csv("krx.csv", index=False)

In [13]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.
pd.read_csv("krx.csv")

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,NaN,73300,1,200,0.27,73800,74000,73200,15419815,1134484297093,437585060915000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,NaN,140000,1,3300,2.41,137000,140000,137000,5011719,698129501600,101920331100000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,NaN,422000,2,-500,-0.12,426500,431000,422000,341008,144990527500,98748000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,NaN,703000,1,5000,0.72,702000,705000,700000,59749,41991591000,50035322000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,NaN,59300,2,-600,-1.00,59900,60100,59300,1609498,95959015300,48797181310000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2781,217320,KR7217320001,썬테크,KONEX,일반기업부,2720,0,0,0.00,0,0,0,0,0,2856000000,1050000,KNX
2782,288490,KR7288490006,나라소프트,KONEX,일반기업부,61,2,-3,-4.69,65,65,58,78369,4714988,2639287305,43267005,KNX
2783,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1588,2,-1,-0.06,1590,1590,1400,3,4578,2508976480,1579960,KNX
2784,308700,KR7308700004,테크엔,KONEX,일반기업부,598,2,-10,-1.64,598,598,598,100,59800,2392000000,4000000,KNX
2785,322190,KR7322190000,베른,KONEX,일반기업부,110,1,12,12.24,110,110,110,373,41030,981771670,8925197,KNX